{% extends 'base.html.twig' %}

{% block title %}Mixer Stats{% endblock %}

{% block body %}
<div class="container">

    <table class="striped">
        <thead>
        <tr>
            <th></th>
            <th>Viewers</th>
            <th>Followers</th>
            <th>Viewers/Followers</th>
            <th>Game</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <th><a href="https://mixer.com/{{ item.token }}"><img height="30px" src="{{ item.user.avatarUrl }}">{{ item.token }}</a>{% if item.partnered %}<i class="material-icons">check</i>{% endif %}</th>
                <td>{{ item.viewersCurrent }}</td>
                <td>{{ item.numFollowers }}</td>
                <td>{{ (item.viewersCurrent / item.numFollowers)|round(5, 'floor') }}</td>
                <td>{{ item.type.name }} ( {{ item.type.viewersCurrent }} )</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
